PORT="5001"
NODE_ENV="development"

# Generate yours with `openssl rand -base64 32`
API_SECRET_KEY="..."

# XMTP private key of the owner of the group conversation
XMTP_PRIVATE_KEY="0x..."
# Get yours using `yarn run gen:keys``
XMTP_ENCRYPTION_KEY=""
# XMTP environment
XMTP_ENV="dev" # dev, local, production
# XMTP default conversation id to add the users to
XMTP_DEFAULT_CONVERSATION_ID=""
